<div class="container container--primary-light container--band container--sm">

    {{ $quotes := where (.Site.GetPage "page" "testimonials/index.markdown").Resources ".Params.featured" "==" "true" }}
    {{ partial "testimonials" ( dict "quotes" $quotes "Scope" . )}}

</div>

<div class="container container--band container--sm">

    {{ partial "partners" ( dict "partners" .Site.Data.partners.partners "Scope" . )}}

</div>

<footer class="footer" role="contentinfo">

    <div class="container container--band container--md container--primary footer__main">
        
        <div class="row">

            <div class="column--md-5">

                <div class="text--center m--b-sm">

                    {{ partial "logo" . }}

                    <span class="tagline">Let's talk</span>

                    <div class="footer__partner">
                        {{ readFile .Site.Data.footer.partner_image | safeHTML }}
                    </div>

                </div>

            </div>

            <div class="column--md-7">

                <a href="/contact/" class="button button--default button--lg button--arrow-right m--b-sm">
                    Look forward to meeting soon...
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 27" class="arrow">
                        <path fill-rule="evenodd"  d="M38.47 12.21L26.87.53a1.8 1.8 0 0 0-2.57 0c-.71.72-.71 1.87 0 2.58l8.5 8.57H1.82c-1 0-1.81.81-1.81 1.82 0 1 .81 1.82 1.81 1.82h31L24.3 23.9A1.83 1.83 0 0 0 25.58 27c.47 0 .93-.18 1.28-.53l11.6-11.68c.72-.71.72-1.87 0-2.58z" />
                    </svg>
                </a>

                <div class="row">

                    <div class="column--sm-6">
                        {{ $telephone := .Site.Data.social.telephone | default "01582 712969" }}
                        {{ $telephone_formatted := .Site.Data.social.telephone_formatted | default "01582712969" }}
                        {{ $email := .Site.Data.social.email | default "sales@audiovisualprojects.co.uk" }}
                        {{ $brochure := "/uploads/avp-group-overview.pdf" }}
                        {{ partial "contact-details" ( dict "telephone" $telephone "telephone_formatted" $telephone_formatted "email" $email "brochure" $brochure "Scope" . ) }}
                    </div>

                    <div class="column--sm-6">
                        {{ $youtube := .Site.Data.social.youtube }}
                        {{ $twitter := .Site.Data.social.twitter }}
                        {{ $linkedin := .Site.Data.social.linkedin }}
                        {{ $instagram := .Site.Data.social.instagram }}
                        {{ partial "social-media" ( dict "youtube" $youtube "twitter" $twitter "linkedin" $linkedin "instagram" $instagram "Scope" . ) }}
                    </div>

                </div>

            </div>

        </div>

    </div>
    
    <div class="container container--band container--sm container--primary-darkest footer__bottom" data-turbolinks-permanent>
        <span class="copyright">Copyright {{ now.Format "2006" }}</span> | <a href="{{ .Site.BaseURL }}" class="site-title">avp group</a>
        <nav class="footer-navigation">
            <ul>
                {{ $currentPage := . }}
                {{ range .Site.Menus.footer }}
                    <li class="{{ if findRE .URL $currentPage.URL }}navigation--active{{ end }}">
                        <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                    </li>
                {{ end }}
            </ul>
        </nav>
        | <span class="credit">Built by <a href="https://indigotree.co.uk/" target="_blank" rel="noopener">Indigo Tree</a></span>
    </div>

</footer>

