<header class="header" id="header" role="banner">

    <button id="navigation-toggle" class="navigation-toggle">
        <span class="sr-only">Toggle Navigation</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="navigation-toggle__icon" viewBox="0 0 24 24">
            <path d="M24 6H0V2h24v4zm0 4H0v4h24v-4zm0 8H0v4h24v-4z"/>
        </svg>
    </button>

    <div class="navigation-container">

        <nav class="navigation">
            <ul>
                <li class="{{ if .IsHome }}navigation--active{{ end }}">
                    <a href="{{ .Site.BaseURL }}" title="Home">Home</a>
                </li>
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    <li class="{{ if findRE .URL $currentPage.URL }}navigation--active{{ end }}">
                        <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                    </li>
                {{ end }}
            </ul>
        </nav>

        {{ partial "logo" . }}

    </div>

</header>