<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script data-turbolinks-eval="false" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script data-turbolinks-eval="false" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
<script data-turbolinks-eval="false" src="https://hammerjs.github.io/dist/hammer.js"></script>
<script src="{{ "js/app.js" | absURL }}" defer></script>
<script data-turbolinks-eval="false" src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
WebFont.load({
    google: {
        families: ['Raleway:300,400,500,500i,600,700']
    }
});
</script>