* {
    box-sizing: border-box;
}

@include reset();

html {
    overflow: visible;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    image-rendering: -webkit-optimize-contrast;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $base-font-family;
    font-size: $base-font-size / 1.12;
    color: $base-font-color;
    line-height: 1.56;

    @include media-min(md) {
        font-size: $base-font-size;
        line-height: $base-line-height;
    }
}

@each $name, $size in $m-sizes {
    @each $position, $short in (top: 't', right: 'r', bottom: 'b', left: 'l') {
        .m--#{$short}-#{$name} {
            margin-#{$position}: #{$size};
        }
    }
}

.hide {
    display: none;
}

.text {

    &--lead {
        font-size: 1.8em;
        line-height: 1.25em;
    }

    &--medium {
        font-weight: 500;
    }

    &--left {
        text-align: left;
    }

    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }

    &--uppercase {
        text-transform: uppercase;
    }

    @each $name, $shades in $colors {
        @each $shade, $color in $shades {
            @if $shade == base {
                &--#{$name} {
                    color: $color;
                }
            } @else {
                &--#{$name}-#{$shade} {
                    color: $color;
                }
            }
        }
    }

}

small {
    font-size: .8em;
}