h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0;
}

h1,
.h1 {
    font-size: 1.666666em;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 15px;
    color: color(primary, dark);
}

h2,
.h2 {
    font-size: 1.666666em;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 15px;
    color: color(primary, dark);
}

h3,
.h3 {
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 15px;
    color: color(primary, dark);
}

a:hover,
a:focus {
    text-decoration: underline;
}

p,
ul,
ol,
pre,
table.table {
    margin-bottom: 25px;
}

img,
video {
    max-width: 100%;
    height: auto !important;
}

hr {
    border: 0;
    border-bottom: 1px solid color(primary, light);
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

strong,
b {
    font-weight: bold;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}