{{ define "main" }}

    {{ $Scope := . }}

    {{ partial "carousel" ( dict "banner" .Params.banner "Scope" . ) }}

    <div class="container container--md">

        <div class="row">

            <div class="column--md-8">
                {{ .Content }}
            </div>

            <div class="column--md-4">
                {{ if .Params.supporting_images }}
                    {{ range $key, $collection := .Params.supporting_images }}

                        {{ with $Scope.Site.GetPage "page" "uploads/index.md" }}
                    
                            {{ $match := .Resources.GetMatch (strings.TrimPrefix "/uploads/" $collection.image) }}

                            <div class="m--b-sm">
                                
                                {{ if $collection.link }}
                                    <a href="{{ $collection.link }}" target="_blank">
                                            {{ partial "image/lazy-resize.html" (dict "Src" $collection.image "Alt" $collection.alt "Size" "1024x" "Scope" $Scope) }}
                                    </a>
                                {{ else }}
                                    <a data-fancybox href="{{ ($match.Resize "1920x q80").RelPermalink }}" data-turbolinks="false">
                                        {{ partial "image/lazy-resize.html" (dict "Src" $collection.image "Alt" $collection.alt "Size" "1024x" "Scope" $Scope) }}
                                    </a>
                                {{ end }}

                            </div>

                        {{ end }}

                    {{ end }}
                {{ end }}
            </div>

        </div>

    </div>

{{ end }}