{{ define "main" }}

    {{ $scope := . }}

    {{ partial "carousel" ( dict "banner" .Params.banner "Scope" . ) }}

    <div class="container container--md">

        {{ if .Title }}
            <h1 class="text--center">{{ .Title }}</h1>
        {{ end }}

        {{ if .Content }}
            <div class="text--center m--b-sm">
                {{ .Content }}
            </div>
        {{ end }}

        <div class="item-list">

            {{ range (.Paginator 9).Pages }}

                <div>

                    <a href="{{ .Permalink | absURL }}" class="item item--project">

                        <div class="item__thumbnail">
                            {{ partial "image/lazy" (dict "Src" .Params.featured_image "Alt" (.Params.featured_image_alt | default .Title) "Size" "768x768 center" "Scope" $scope) }}
                        </div>

                        <h3 class="item__title">{{ .Title }}</h3>

                        <span class="item__meta">{{ .Params.location }}</span>

                    </a>

                </div>

            {{ end }}

        </div>

        {{ template "_internal/pagination.html" . }}

    </div>

{{ end }}