{{ define "main" }}

{{ partial "carousel" ( dict "banner_images" .Params.banner_images "Scope" . ) }}

<div class="container container--band container--md text--center">
    {{ .Content }}
</div>

<div class="container">

    <div class="row m--b-sm">

        <div class="column--sm-4">
            <img src="https://placehold.it/768x768" alt="Placeholder image" />
        </div>

        <div class="column--sm-4">
            <img src="https://placehold.it/768x768" alt="Placeholder image" />
        </div>

        <div class="column--sm-4">
            <img src="https://placehold.it/768x768" alt="Placeholder image" />
        </div>

    </div>

    <img src="https://placehold.it/1620x1000" alt="Placeholder image" />

</div>

<div class="container container--md">

    <h2 class="text--center m--b-sm">Project solutions</h2>

    <div>
        ICONS HERE!
    </div>

</div>

{{ end }}