{{ define "main" }}

{{ $title := .Params.banner_title | default .Title }}
{{ $meta := .Params.banner_meta | default .Params.location }}
{{ partial "carousel" ( dict "banner_images" .Params.banner_images "banner_title" $title "banner_meta" $meta "Scope" . ) }}

<div class="container container--band container--md text--center">
    {{ .Content }}
</div>

<div class="container container--band container--md text--center">

    <a href="/projects" class="button button--md button--primary-dark text--uppercase">View more of our projects</a>

</div>

<div class="container container--md">

    <h2 class="text--center m--b-sm">Project solutions</h2>

    <div class="range">

        <div class="range-icon">
            {{ partial "icons/device.svg" . }}
            <span class="range-icon__title">Wifi, Networking &amp; Communications</span>
        </div>

        <div class="range-icon">
            {{ partial "icons/house.svg" . }}
            <span class="range-icon__title">Home Automation</span>
        </div>

        <div class="range-icon">
            {{ partial "icons/light.svg" . }}
            <span class="range-icon__title">Lighting</span>
        </div>

        <div class="range-icon">
            {{ partial "icons/security.svg" . }}
            <span class="range-icon__title">Security &amp; access</span>
        </div>

    </div>

</div>

{{ end }}