{{ define "main" }}

    {{ partial "carousel" ( dict "banner" .Params.banner "Scope" . ) }}

    <div class="container container--band container--md text--center">
        {{ .Content }}
    </div>

    <div class="container container--md">

        <h2 class="text--center m--b-sm">Project solutions</h2>

        <div class="range m--b-sm">

            {{ range $key, $icon := .Params.icons }}

                {{ partial "icon" ( dict "icon" $icon.icon "title" $icon.title "Scope" . ) }}

            {{ end }}

        </div>

        <div class="text--center">
            <a href="/projects" class="button button--md button--primary-dark text--uppercase">View more of our projects</a>
        </div>

    </div>

{{ end }}