@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1.125);
            transform: scale(1.125); } }

@keyframes zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1.125);
            transform: scale(1.125); } }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

[class*="column--"] {
  position: relative;
  min-height: 1px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  overflow: visible;
  overflow-x: hidden; }

body {
  overflow-x: hidden;
  image-rendering: -webkit-optimize-contrast;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Raleway", sans-serif;
  font-size: 16.07143px;
  color: #111111;
  line-height: 1.56; }
  @media screen and (min-width: 992px) {
    body {
      font-size: 18px;
      line-height: 1.78; } }

.m--t-zero {
  margin-top: 0; }

.m--r-zero {
  margin-right: 0; }

.m--b-zero {
  margin-bottom: 0; }

.m--l-zero {
  margin-left: 0; }

.m--t-xs {
  margin-top: 1em; }

.m--r-xs {
  margin-right: 1em; }

.m--b-xs {
  margin-bottom: 1em; }

.m--l-xs {
  margin-left: 1em; }

.m--t-sm {
  margin-top: 2em; }

.m--r-sm {
  margin-right: 2em; }

.m--b-sm {
  margin-bottom: 2em; }

.m--l-sm {
  margin-left: 2em; }

.m--t-md {
  margin-top: 3em; }

.m--r-md {
  margin-right: 3em; }

.m--b-md {
  margin-bottom: 3em; }

.m--l-md {
  margin-left: 3em; }

.m--t-lg {
  margin-top: 6em; }

.m--r-lg {
  margin-right: 6em; }

.m--b-lg {
  margin-bottom: 6em; }

.m--l-lg {
  margin-left: 6em; }

.hide {
  display: none; }

.text--lead {
  font-size: 1.89em;
  line-height: 1.25em; }

.text--medium {
  font-weight: 500; }

.text--left {
  text-align: left; }

.text--center {
  text-align: center; }

.text--right {
  text-align: right; }

.text--uppercase {
  text-transform: uppercase; }

.text--primary {
  color: #25282a; }

.text--primary-light {
  color: #96a3ae; }

.text--primary-medium {
  color: #515c64; }

.text--primary-dark {
  color: #233746; }

.text--primary-darkest {
  color: #202325; }

.text--success {
  color: #5cb85c; }

.text--info {
  color: #3D94CC; }

.text--warning {
  color: #f0ad4e; }

.text--danger {
  color: #F32836; }

.text--default {
  color: white; }

.text--grey {
  color: #454546; }

.text--grey-light {
  color: #ccc9c9; }

.text--grey-dark {
  color: #111111; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0; }

h1,
.h1 {
  font-size: 1.666666em;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 15px;
  color: #233746; }

h2,
.h2 {
  font-size: 1.666666em;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 15px;
  color: #233746; }

h3,
.h3 {
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 15px;
  color: #233746; }

a {
  color: #233746;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer; }

a:hover,
a:focus {
  text-decoration: underline; }

p,
ul,
ol,
pre,
table.table {
  margin-bottom: 25px; }

img,
video {
  max-width: 100%;
  height: auto !important; }

hr {
  border: 0;
  border-bottom: 1px solid #96a3ae;
  margin-top: 1.2em;
  margin-bottom: 1.2em; }

strong,
b {
  font-weight: bold; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

ol {
  list-style-type: decimal; }

ul {
  list-style-type: disc; }

ul, ol {
  text-align: left; }

.table-responsive {
  overflow-x: auto; }

table {
  border: 1px solid #ddd;
  width: 100%;
  margin-bottom: 2em;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left; }
  table thead th {
    border: 1px solid #ddd;
    padding: 8px;
    line-height: 1.4;
    vertical-align: top;
    font-weight: bold; }
  table tbody tr th, table tbody tr td {
    border: 1px solid #ddd;
    padding: 8px;
    line-height: 1.4;
    vertical-align: top; }
  table tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row::after {
    display: table;
    content: '';
    clear: both; }
  .row > [class*="column--"] {
    padding-left: 15px;
    padding-right: 15px; }
  @media screen and (min-width: 544px) {
    .row .column--xs-1 {
      float: left;
      width: 8.33333%; }
    .row .column--xs-2 {
      float: left;
      width: 16.66667%; }
    .row .column--xs-3 {
      float: left;
      width: 25%; }
    .row .column--xs-4 {
      float: left;
      width: 33.33333%; }
    .row .column--xs-5 {
      float: left;
      width: 41.66667%; }
    .row .column--xs-6 {
      float: left;
      width: 50%; }
    .row .column--xs-7 {
      float: left;
      width: 58.33333%; }
    .row .column--xs-8 {
      float: left;
      width: 66.66667%; }
    .row .column--xs-9 {
      float: left;
      width: 75%; }
    .row .column--xs-10 {
      float: left;
      width: 83.33333%; }
    .row .column--xs-11 {
      float: left;
      width: 91.66667%; }
    .row .column--xs-12 {
      float: left;
      width: 100%; }
    .row .offset--xs-1 {
      margin-left: 8.33333%; }
    .row .offset--xs-2 {
      margin-left: 16.66667%; }
    .row .offset--xs-3 {
      margin-left: 25%; }
    .row .offset--xs-4 {
      margin-left: 33.33333%; }
    .row .offset--xs-5 {
      margin-left: 41.66667%; }
    .row .offset--xs-6 {
      margin-left: 50%; }
    .row .offset--xs-7 {
      margin-left: 58.33333%; }
    .row .offset--xs-8 {
      margin-left: 66.66667%; }
    .row .offset--xs-9 {
      margin-left: 75%; }
    .row .offset--xs-10 {
      margin-left: 83.33333%; }
    .row .offset--xs-11 {
      margin-left: 91.66667%; } }
  @media screen and (min-width: 768px) {
    .row .column--sm-1 {
      float: left;
      width: 8.33333%; }
    .row .column--sm-2 {
      float: left;
      width: 16.66667%; }
    .row .column--sm-3 {
      float: left;
      width: 25%; }
    .row .column--sm-4 {
      float: left;
      width: 33.33333%; }
    .row .column--sm-5 {
      float: left;
      width: 41.66667%; }
    .row .column--sm-6 {
      float: left;
      width: 50%; }
    .row .column--sm-7 {
      float: left;
      width: 58.33333%; }
    .row .column--sm-8 {
      float: left;
      width: 66.66667%; }
    .row .column--sm-9 {
      float: left;
      width: 75%; }
    .row .column--sm-10 {
      float: left;
      width: 83.33333%; }
    .row .column--sm-11 {
      float: left;
      width: 91.66667%; }
    .row .column--sm-12 {
      float: left;
      width: 100%; }
    .row .offset--sm-1 {
      margin-left: 8.33333%; }
    .row .offset--sm-2 {
      margin-left: 16.66667%; }
    .row .offset--sm-3 {
      margin-left: 25%; }
    .row .offset--sm-4 {
      margin-left: 33.33333%; }
    .row .offset--sm-5 {
      margin-left: 41.66667%; }
    .row .offset--sm-6 {
      margin-left: 50%; }
    .row .offset--sm-7 {
      margin-left: 58.33333%; }
    .row .offset--sm-8 {
      margin-left: 66.66667%; }
    .row .offset--sm-9 {
      margin-left: 75%; }
    .row .offset--sm-10 {
      margin-left: 83.33333%; }
    .row .offset--sm-11 {
      margin-left: 91.66667%; } }
  @media screen and (min-width: 992px) {
    .row .column--md-1 {
      float: left;
      width: 8.33333%; }
    .row .column--md-2 {
      float: left;
      width: 16.66667%; }
    .row .column--md-3 {
      float: left;
      width: 25%; }
    .row .column--md-4 {
      float: left;
      width: 33.33333%; }
    .row .column--md-5 {
      float: left;
      width: 41.66667%; }
    .row .column--md-6 {
      float: left;
      width: 50%; }
    .row .column--md-7 {
      float: left;
      width: 58.33333%; }
    .row .column--md-8 {
      float: left;
      width: 66.66667%; }
    .row .column--md-9 {
      float: left;
      width: 75%; }
    .row .column--md-10 {
      float: left;
      width: 83.33333%; }
    .row .column--md-11 {
      float: left;
      width: 91.66667%; }
    .row .column--md-12 {
      float: left;
      width: 100%; }
    .row .offset--md-1 {
      margin-left: 8.33333%; }
    .row .offset--md-2 {
      margin-left: 16.66667%; }
    .row .offset--md-3 {
      margin-left: 25%; }
    .row .offset--md-4 {
      margin-left: 33.33333%; }
    .row .offset--md-5 {
      margin-left: 41.66667%; }
    .row .offset--md-6 {
      margin-left: 50%; }
    .row .offset--md-7 {
      margin-left: 58.33333%; }
    .row .offset--md-8 {
      margin-left: 66.66667%; }
    .row .offset--md-9 {
      margin-left: 75%; }
    .row .offset--md-10 {
      margin-left: 83.33333%; }
    .row .offset--md-11 {
      margin-left: 91.66667%; } }
  @media screen and (min-width: 1200px) {
    .row .column--lg-1 {
      float: left;
      width: 8.33333%; }
    .row .column--lg-2 {
      float: left;
      width: 16.66667%; }
    .row .column--lg-3 {
      float: left;
      width: 25%; }
    .row .column--lg-4 {
      float: left;
      width: 33.33333%; }
    .row .column--lg-5 {
      float: left;
      width: 41.66667%; }
    .row .column--lg-6 {
      float: left;
      width: 50%; }
    .row .column--lg-7 {
      float: left;
      width: 58.33333%; }
    .row .column--lg-8 {
      float: left;
      width: 66.66667%; }
    .row .column--lg-9 {
      float: left;
      width: 75%; }
    .row .column--lg-10 {
      float: left;
      width: 83.33333%; }
    .row .column--lg-11 {
      float: left;
      width: 91.66667%; }
    .row .column--lg-12 {
      float: left;
      width: 100%; }
    .row .offset--lg-1 {
      margin-left: 8.33333%; }
    .row .offset--lg-2 {
      margin-left: 16.66667%; }
    .row .offset--lg-3 {
      margin-left: 25%; }
    .row .offset--lg-4 {
      margin-left: 33.33333%; }
    .row .offset--lg-5 {
      margin-left: 41.66667%; }
    .row .offset--lg-6 {
      margin-left: 50%; }
    .row .offset--lg-7 {
      margin-left: 58.33333%; }
    .row .offset--lg-8 {
      margin-left: 66.66667%; }
    .row .offset--lg-9 {
      margin-left: 75%; }
    .row .offset--lg-10 {
      margin-left: 83.33333%; }
    .row .offset--lg-11 {
      margin-left: 91.66667%; } }

.container .container--band {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.container--band {
  position: relative; }
  .container--band:before, .container--band:after {
    background-color: inherit;
    position: absolute;
    width: 999px;
    top: 0;
    height: 100%;
    display: block !important;
    content: ''; }
  .container--band > *:last-child, .container--band > *:last-child > *:last-child {
    margin-bottom: 0 !important; }
  .container--band:before {
    right: 100%; }
  .container--band:after {
    left: 100%; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container::after {
    display: table;
    content: '';
    clear: both; }
  @media screen and (min-width: 992px) {
    .container {
      max-width: 940px; } }
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1200px; } }
  .container--zero {
    padding-top: 0;
    padding-bottom: 0; }
  .container--xs {
    padding-top: 1em;
    padding-bottom: 1em; }
  .container--sm {
    padding-top: 2em;
    padding-bottom: 2em; }
  .container--md {
    padding-top: 3em;
    padding-bottom: 3em; }
  .container--lg {
    padding-top: 6em;
    padding-bottom: 6em; }
  .container--image {
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-color: #25282a; }
  .container--primary {
    background-color: #25282a;
    color: #FFFFFF; }
  .container--primary-light {
    background-color: #96a3ae;
    color: inherit; }
  .container--primary-medium {
    background-color: #515c64;
    color: #FFFFFF; }
  .container--primary-dark {
    background-color: #233746;
    color: #FFFFFF; }
  .container--primary-darkest {
    background-color: #202325;
    color: #FFFFFF; }
  .container--success {
    background-color: #5cb85c;
    color: inherit; }
  .container--info {
    background-color: #3D94CC;
    color: inherit; }
  .container--warning {
    background-color: #f0ad4e;
    color: inherit; }
  .container--danger {
    background-color: #F32836;
    color: inherit; }
  .container--default {
    background-color: white;
    color: inherit; }
  .container--grey {
    background-color: #454546;
    color: #FFFFFF; }
  .container--grey-light {
    background-color: #ccc9c9;
    color: inherit; }
  .container--grey-dark {
    background-color: #111111;
    color: #FFFFFF; }

.header {
  z-index: 10; }
  @media screen and (min-width: 992px) {
    .header {
      position: absolute;
      bottom: 0;
      background: #25282a;
      width: 100%; }
      .header--fixed .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
        z-index: 999; }
      .header--top .header {
        bottom: auto;
        top: 0; } }

.navigation {
  background: #25282a;
  color: white;
  height: 100vh;
  width: 250px;
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  overflow-y: auto;
  -webkit-box-shadow: inset -4px 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: inset -4px 0 10px rgba(0, 0, 0, 0.3); }
  .navigation--open {
    overflow-y: hidden; }
    @media screen and (min-width: 992px) {
      .navigation--open {
        overflow-y: auto; } }
  .navigation--open .navigation {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  @media screen and (min-width: 992px) {
    .navigation {
      -webkit-box-shadow: none;
              box-shadow: none;
      -webkit-transform: none;
              transform: none;
      position: static;
      top: auto;
      bottom: 0;
      height: auto;
      width: auto; } }
  .navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .navigation li {
    border-bottom: 1px solid rgba(81, 92, 100, 0.4); }
    @media screen and (min-width: 992px) {
      .navigation li {
        display: inline-block;
        border: 0; } }
    .navigation li > a {
      display: block;
      padding: 15px;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 500;
      font-size: 17px; }
      @media screen and (min-width: 992px) {
        .navigation li > a {
          display: inline-block; } }
      @media screen and (min-width: 992px) {
        .navigation li > a {
          padding: 31px 5px;
          font-size: 16px; } }
      @media screen and (min-width: 1300px) {
        .navigation li > a {
          padding: 31px 22px;
          font-size: 17px; } }
    .navigation li.navigation--active > a {
      font-weight: bold; }

.navigation-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 12px 13px;
  border: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 20;
  cursor: pointer; }
  @media screen and (min-width: 992px) {
    .navigation-toggle {
      display: none; } }
  .navigation-toggle__icon {
    height: 24px;
    width: 24px;
    fill: rgba(255, 255, 255, 0.8); }
    .banner--no-banner .navigation-toggle__icon {
      fill: black; }

.navigation-container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1360px; }

.navigation-panner {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 40px;
  z-index: 5;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease; }
  @media screen and (min-width: 992px) {
    .navigation-panner {
      display: none; } }
  .navigation--open .navigation-panner {
    right: 0;
    width: auto;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1; }

.header .logo {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 120px;
  z-index: 2; }
  .header .logo svg {
    height: 53px; }
  @media screen and (min-width: 992px) {
    .header .logo {
      left: auto;
      top: 23px;
      right: 15px;
      display: block; } }

.main .logo {
  max-width: 200px;
  margin: 0 auto; }
  .main .logo svg {
    height: 87px; }

.footer .logo {
  width: 120px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px; }
  .footer .logo svg {
    height: 73px; }
  @media screen and (min-width: 768px) {
    .footer .logo {
      width: 166px;
      margin-right: 50px; } }
  @media screen and (min-width: 992px) {
    .footer .logo {
      width: 140px;
      margin-right: 30px; } }
  @media screen and (min-width: 1200px) {
    .footer .logo {
      width: 166px;
      margin-right: 50px; } }

.logo-icon__a {
  fill: #5c6670; }

.logo-icon__v {
  fill: #99a4ae; }

.logo-icon__p {
  fill: #2a3d4e; }

.banner {
  height: 100vh;
  overflow: hidden;
  background-color: #25282a; }
  @media screen and (min-width: 992px) {
    .header--top .banner {
      margin-bottom: 0;
      margin-top: 90px; } }
  @media screen and (min-width: 1200px) {
    .header--top .banner {
      margin-bottom: 0;
      margin-top: 92px; } }
  @media screen and (min-width: 992px) {
    .banner--no-banner {
      margin-top: 90px; } }
  @media screen and (min-width: 1200px) {
    .banner--no-banner {
      margin-top: 92px; } }

.carousel__media {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease; }
  @media screen and (min-width: 992px) {
    .carousel__media {
      height: calc(100vh - 90px); } }

.carousel--zoom {
  -webkit-animation: zoom 13s ease-out 0s forwards;
          animation: zoom 13s ease-out 0s forwards; }

.carousel__watermark {
  position: absolute;
  width: 250px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10; }
  @media screen and (min-width: 768px) {
    .carousel__watermark {
      width: 400px; } }
  .carousel__watermark .logo-icon {
    fill: rgba(255, 255, 255, 0.5); }
    .carousel__watermark .logo-icon > path {
      fill: rgba(255, 255, 255, 0.5); }

.carousel .slick-arrow {
  position: absolute;
  z-index: 2;
  bottom: 5em;
  text-indent: -9999px;
  background-image: url(/images/right-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 73px;
  width: 73px;
  background-color: transparent;
  background-size: 53px 53px;
  border: 0;
  padding: 0;
  cursor: pointer; }
  .carousel .slick-arrow:hover, .carousel .slick-arrow:focus {
    outline: none; }
  @media screen and (min-width: 992px) {
    .carousel .slick-arrow {
      bottom: 8em; } }

.carousel .slick-prev {
  left: 2em;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg); }
  @media screen and (min-width: 992px) {
    .carousel .slick-prev {
      left: 5em; } }
  @media screen and (min-width: 1200px) {
    .carousel .slick-prev {
      left: 20%; } }

.carousel .slick-next {
  right: 2em; }
  @media screen and (min-width: 992px) {
    .carousel .slick-next {
      right: 5em; } }
  @media screen and (min-width: 1200px) {
    .carousel .slick-next {
      right: 20%; } }

.carousel__caption {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  max-width: 500px; }

.carousel__title {
  color: white;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  line-height: normal;
  margin-bottom: .2em;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5); }

.carousel__meta {
  color: white;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 300;
  display: block;
  line-height: normal;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5); }

.turbolinks-progress-bar {
  background-color: #96a3ae; }
