<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    <head>

        {{ block "site/meta" . }}{{ partial "site/meta.html" . }}{{ end }}

        <title>{{ block "title" . }}
            {{- if .Params.seo_title -}}
                {{- with .Params.seo_title }}{{ . }} | {{ end -}}
            {{ else }}
                {{- with .Title }}{{ . }} | {{ end -}}
            {{ end }}
            {{- .Site.Title -}}
        {{ end }}</title>

        <link rel="dns-prefetch" href="https://fonts.googleapis.com">
        <link rel="dns-prefetch" href="https://code.jquery.com">
        <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
        <link rel="dns-prefetch" href="https://hammerjs.github.io">

        <link rel="manifest" href="{{ "manifest.json" | absURL }}">

        {{ range .AlternativeOutputFormats }}
            <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
        {{ end }}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.1.1/turbolinks.js"></script>
        {{ block "site/styles" . }}{{ partial "site/styles.html" . }}{{ end }}

    </head>
    <body class="{{ if not .IsHome }}header--top{{ end }}">

        {{ block "header" . }}{{ partial "site/header.html" . }}{{ end }}

        <main class="main" role="main">

            {{ block "main" . }}{{ end }}

        </main>

        {{ block "footer" . }}{{ partial "site/footer.html" . }}{{ end }}

        {{ block "site/scripts" . }}{{ partial "site/scripts.html" . }}{{ end }}

    </body>
</html>