{{ $scope := .Scope }}
{{ $slides := .banner | default $scope.Site.Data.banner.default }}
{{ $fullSize := .size | default "1920x1080 q80" }}

<div class="banner carousel" id="carousel">

    {{ range $index, $slide := $slides }}
        
        {{ with $scope.Site.GetPage "page" "uploads/index.md" }}

            {{ $match := .Resources.GetMatch (strings.TrimPrefix "/uploads/" $slide.image) }}
            {{ $cropped := $match.Resize "150x q30" }}
            {{ $full := $match.Fill $fullSize }}
            
            <div class="carousel__media carousel--zoom" style="background-image: url({{ $full.RelPermalink }}), url({{ $cropped.RelPermalink }})">

                {{ if $scope.IsHome  }}
                    <div class="carousel__watermark">
                        {{ partial "logo.svg" $scope }}
                    </div>
                {{ end }}

                <div class="carousel__caption">
                    
                    {{ if not $scope.IsHome }}
                        <span class="carousel__title">
                            {{ $slide.title | default $scope.Title }}
                        </span>
                    {{ end }}

                    {{ if $slide.meta }}
                        <span class="carousel__meta">
                            {{ $slide.meta }}
                        </span>
                    {{ end }}

                </div>

            </div>

        {{ end }}

    {{ end }}

</div>
