{{ $images := .banner_images | default ( slice .Scope.Site.Data.banner.default_image ) }}
{{ $title := .banner_title }}
{{ $meta := .banner_meta }}
{{ $scope := .Scope }}
<div class="banner carousel" id="carousel">
    {{ range $index, $media := $images }}
        
        {{ with $scope.Site.GetPage "page" "uploads/index.md" }}

            {{ $match := .Resources.GetMatch (strings.TrimPrefix "/uploads/" $media) }}
            {{ $cropped := $match.Resize "150x q30" }}

            <div class="carousel__media" style="background-image: url({{ $media | absURL }}), url({{ $cropped.RelPermalink }})">

                {{ if or $title $meta }}
                    <div class="carousel__caption">
                        
                        {{ if $title }}
                            <span class="carousel__title">
                                {{ $title }}
                            </span>
                        {{ end }}

                        {{ if $meta }}
                            <span class="carousel__meta">
                                {{ $meta }}
                            </span>
                        {{ end }}

                    </div>

                {{ end }}

            </div>

        {{ end }}

    {{ end }}
</div>