{{ if or ( and .telephone .telephone_formatted) .email .brochure }}
    <ul class="contact-details">

        {{ if and .telephone .telephone_formatted }}
            <li class="contact-details__telephone">
                <a href="tel:{{ .telephone_formatted }}">{{ .telephone }}</a>
            </li>
        {{ end }}

        {{ if .email }}
            <li class="contact-details__email">
                <a href="mailto:{{ .email }}">{{ .email }}</a>
            </li>
        {{ end }}
        
        {{ if .brochure }}
            <li class="contact-details__brochure">
                <a href="{{ .brochure }}" target="_blank">Download our brochure</a>
            </li>
        {{ end }}

    </ul>
{{ end }}
