{{ if or ( and .telephone .telephone_formatted) .email }}
    <ul class="contact-details">

        {{ if and .telephone .telephone_formatted }}
            <li class="contact-details__telephone">
                <a href="tel:{{ .telephone_formatted }}">{{ .telephone }}</a>
            </li>
        {{ end }}

        {{ if .email }}
            <li class="contact-details__email">
                <a href="mailto:{{ .email }}">{{ .email }}</a>
            </li>
        {{ end }}

    </ul>
{{ end }}