{{ define "main" }}

    {{ $scope := . }}

    {{ partial "carousel" ( dict "banner" .Params.banner "Scope" . ) }}

    <div class="container container--md">

        {{ if .Title }}
            <h1 class="text--center">{{ .Title }}</h1>
        {{ end }}

        {{ if .Content }}
            <div class="text--center m--b-sm">
                {{ .Content }}
            </div>
        {{ end }}

    </div>

    <div class="container m--b-lg">

        <div class="solutions">

            {{ range (.Paginator 20).Pages }}

                <a href="{{ .Permalink | absURL }}" class="solution">
                    <div class="solution__bg">
                        <div class="solution__icon">{{ readFile .Params.icon | safeHTML }}</div>
                        <span class="solution__title">{{ .Title }}</span>
                    </div>
                </a>

            {{ end }}

        </div>

    </div>

{{ end }}