{{ define "main" }}

{{ partial "carousel" ( dict "banner_images" .Params.banner_images "banner_title" .Params.banner_title "banner_meta" .Params.banner_meta "Scope" . ) }}

<div class="container container--band container--md text--center">
    {{ .Content }}
</div>

<div class="container--lg container--image" style="background-image: url({{ .Site.Data.caption.image }})">

    <div class="container">

        <div class="row">

            <div class="column--sm-6">

                {{ partial "caption" ( dict "title" .Site.Data.caption.title "description" .Site.Data.caption.description "link_text" .Site.Data.caption.link_text "link" .Site.Data.caption.link "Scope" . ) }}

            </div>

        </div>

    </div>

</div>

<div class="container container--band container--md container--primary-darkest">
    
    <div class="row">

        <div class="column--md-8 m--b-sm">
            <div class="text--uppercase text--primary-light text--medium text--lead">{{ .Site.Title }}</div>
            <span class="text--primary-medium text--medium text--lead">Bespoke lighting design + AV automation</span>
        </div>

        <div class="column--md-4 text--center">
            {{ partial "logo" . }}
        </div>

    </div>

</div>

{{ range $key, $split := .Site.Data.splits.splits }}

    {{ partial "split" (dict "title" $split.title "link_text" $split.link_text "link" $split.link "image" $split.image "image_position" $split.image_position "content" $split.content "Scope" . ) }}

{{ end }}

<div class="container container--band container--lg text--center">

    <h2 class="m--b-sm">Extraordinary work</h2>

    <div class="row m--b-sm">

        {{ range first 3 (where .Pages "Section" "projects") }}

            <div class="column--sm-4 m--b-xs">
                <a href="{{ .Permalink | absURL }}" class="image-hover">
                    <img src="{{ .Params.featured_image | absURL }}" alt="{{ .Params.featured_image_alt | default .Title }}" />
                </a>
            </div>

        {{ end }}

    </div>

    <a href="/projects" class="button button--md button--primary-dark text--uppercase">View our projects</a>

</div>

<div class="container container--band container--md text--center">

    <h2 class="m--b-sm">Extraordinary range</h2>

    <div>
        ICONS HERE!!
    </div>

</div>

{{ end }}