{{ define "main" }}

    {{ $scope := . }}

    {{ $strapline := .Site.Data.strapline.strapline }}
    {{ if $strapline }}
        <div class="banner__strapline">
            {{ $strapline }}
        </div>
    {{ end }}

    {{ partial "carousel" ( dict "banner" .Params.banner "Scope" . ) }}

    <div class="container container--band container--md text--center">
        {{ .Content }}
    </div>

    {{ with $scope.Site.GetPage "page" "uploads/index.md" }}

        {{ $match := .Resources.GetMatch (strings.TrimPrefix "/uploads/" .Site.Data.caption.image) }}
        {{ $cropped := $match.Resize "150x q15" }}

        <div class="container--lg container--image" style="background-image: url({{ .Site.Data.caption.image | absURL }}), url({{ $cropped.RelPermalink }})">

            <div class="container">

                <div class="row">

                    <div class="column--sm-6">

                        {{ partial "caption" ( dict "title" $scope.Site.Data.caption.title "description" $scope.Site.Data.caption.description "link_text" $scope.Site.Data.caption.link_text "link" $scope.Site.Data.caption.link "Scope" $scope ) }}

                    </div>

                </div>

            </div>

        </div>

    {{ end }}

    <div class="container container--band container--md container--primary-darkest">
        
        <div class="row">

            <div class="column--md-8 m--b-sm">
                <div class="text--uppercase text--primary-light text--medium text--lead">{{ .Site.Title }}</div>
                <span class="text--primary-medium text--medium text--lead">Delivering your SMART Home & Business solutions</span>
            </div>

            <div class="column--md-4 text--center">
                {{ partial "logo" . }}
            </div>

        </div>

    </div>

    {{ range $key, $split := .Site.Data.splits.splits }}

        {{ partial "split" (dict "title" $split.title "link_text" $split.link_text "link" $split.link "image" $split.image "image_position" $split.image_position "content" $split.content "Scope" $scope ) }}

    {{ end }}

    <div class="container container--band container--lg text--center">

        <h2 class="m--b-sm">Extraordinary work</h2>

        <div class="item-list m--b-sm">

            {{ range first 3 (where .Pages "Section" "projects") }}

                <div>

                    <a href="{{ .Permalink | absURL }}" class="item item--project">

                        <div class="item__thumbnail">
                            {{ partial "image/lazy" (dict "Src" .Params.featured_image "Alt" (.Params.featured_image_alt | default .Title) "Size" "768x768 center" "Scope" $scope) }}
                        </div>

                        <h3 class="item__title">{{ .Title }}</h3>

                        <span class="item__meta">{{ .Params.location }}</span>

                    </a>

                </div>

            {{ end }}

        </div>

        <a href="/projects" class="button button--md button--primary-dark text--uppercase">View our projects</a>

    </div>

    <div class="container container--band container--md text--center">

        <h2 class="m--b-sm">Extraordinary range</h2>

        <div class="range">

            {{ range $key, $icon := .Params.icons }}

                {{ partial "icon" ( dict "icon" $icon.icon "title" $icon.title "link" $icon.link "Scope" . ) }}

            {{ end }}

        </div>

    </div>

    <div class="container container--band container--sm container--primary-medium">
        {{ partial "partners" ( dict "partners" .Site.Data.partners.partners "Scope" . )}}
    </div>

{{ end }}