.form-control {
    display: block;
    padding: .6em 1em;
    width: 100%;
    font-size: 1em;
    border-radius: 3px;
    border: 1px solid color(primary, light);
    font-family: $base-font-family;
}