
.row {
    @include make-row();
}

.container .container--band {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.container--band {
    position: relative;

    &:before, &:after {
        background-color: inherit;
        position: absolute;
        width: 999px;
        top: 0;
        height: 100%;
        display: block !important;
        content: '';
    }

    & > *:last-child {
        &, & > *:last-child {
            margin-bottom: 0 !important;
        }
    }

    &:before { right: 100%; }
    &:after { left: 100%; }
}

.container {
    @include make-container();

    @each $name, $size in $m-sizes {
        &--#{$name} {
            padding-top: $size;
            padding-bottom: $size;
        }
    }

    &--image {
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
    }

    @each $name, $shades in $colors {
        @each $shade, $color in $shades {
            @if $shade == base {
                &--#{$name} {
                    background-color: $color;
                    color: color-contrast($color, inherit);
                }
            } @else {
                &--#{$name}-#{$shade} {
                    background-color: $color;
                    color: color-contrast($color, inherit);
                }
            }
        }
    }

}
