.item {
    text-decoration: none;
    padding: 1.2em;
    display: block;
    background: lighten(color(primary, light), 35%);
    transition: background .3s ease;
    margin-bottom: 1.5em;
    cursor: pointer;

    &:hover,
    &:focus {
        background: lighten(color(primary, light), 30%);
        text-decoration: none;
        cursor: pointer;
    }

    &__thumbnail {
        margin-bottom: .5em;
    }

    &__title {
        font-size: 1.1em;
        margin-bottom: 0;
        line-height: normal;
        text-align: center;
        padding: 0 2em;
        min-height: 50px;
    }

    &__meta {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 300;
        color: color(primary, light);
        text-align: center;
    }

}