.logo {

    .header & {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 120px;
        z-index: 10;

        @include media-min(md) {
            left: auto;
            right: 15px;
            display: block;
        }
    }

    .footer & {
        width: 120px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;

        @include media-min(sm) {
            width: 166px;
            margin-right: 50px;
        }

        @include media-min(md) {
            width: 140px;
            margin-right: 30px;
        }

        @include media-min(lg) {
            width: 166px;
            margin-right: 50px;
        }
    }

}
