.navigation {
    background: color(primary);
    color: white;
    height: 100vh;
    width: 250px;
    transform: translateX(-250px);
    transition: transform .5s ease;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    overflow-y: auto;
    box-shadow: inset -4px 0 10px rgba(black, 0.3);

    &--open {
        overflow-y: hidden;

        @include media-min($navigation-breakpoint) {
            overflow-y: auto;
        }
    }

    &--open & {
        transform: translateX(0);
    }

    @include media-min($navigation-breakpoint) {
        box-shadow: none;
        transform: none;
        position: static;
        top: auto;
        bottom: 0;
        height: auto;
        width: auto;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        border-bottom: 1px solid rgba(color(primary, medium), 0.4);

        @include media-min($navigation-breakpoint) {
            display: inline-block;
            border: 0;
        }

        > a {
            display: block;
            padding: 15px;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;

            @include media-min($navigation-breakpoint) {
                display: inline-block;
            }

            @include media-min(md) {
                padding: 31px 22px;
                font-size: 17px;
            }

        }

        &.navigation--active > a {
            font-weight: bold;
        }

    }

}