.range {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1em;
    margin-right: -1em;

    &-icon {
        flex: 1 1 20%;
        margin-bottom: 2em;
        padding: 1em;
        text-align: center;

        svg {
            width: 80px;
            height: 80px;
            margin-bottom: .3em;
        }

        &__title {
            display: block;
            font-size: .8em;
            color: color(primary);
        }

    }

}
