.social-media {
    display: flex;

    a {
        display: block;
        width: 37px;
        height: 37px;
        padding: 8px;
        background: color(primary, light);
        border-radius: 50%;
        margin-right: 10px;
        transition: transform .3s ease;

        &:last-child {
            margin: 0;
        }

        &:hover {
            transform: scale(1.1);
        }

        svg {
            fill: color(primary)
        }
    }

}