.split {

    @include media-min(sm) {
        display: flex;
    }

    &--right {
        flex-direction: row-reverse;
    }

    &--has-meta &__right &__title {
        margin-bottom: 0;
        line-height: 1em;
    }

    &--has-meta &__left img {
        @include media-min(sm) {
            transform: translate(-50%, -40%);
        }
    }

    &__meta {
        margin-bottom: 1em;
        text-transform: uppercase;
        font-size: 1.3em;
    }

    &__left {
        margin-bottom: 1.2em;

        @include media-min(sm) {
            display: flex;
            flex: 0 0 50%;
            max-width: 50%;
            margin: 0;
            overflow: hidden;
            position: relative;
        }

        img {
            @include media-min(sm) {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                max-width: none;
            }
        }

    }

    &__right {
        margin-bottom: 1.2em;
        text-align: center;
        padding: 1em 15px;

        @include media-min(sm) {
            flex: 0 0 50%;
            max-width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 4em 3.4em;
            margin: 0;
            min-height: 600px;
        }

        @include media-min(lg) {
            padding: 8em 3.4em;
        }

    }

    &__title {
        text-transform: uppercase;
        font-size: 1.67em;
        font-weight: bold;
        color: color(primary, dark);
        margin-bottom: 1em;
    }

    &__body {
        font-size: 1em;
        margin-bottom: 1.2em;
    }

    &__footer {

    }

}