{{ $Scope := . }}
{{ if .Get "image" }}

{{ $image := (.Get "image") }}
{{ $alt :=  .Get "alt" | default "Gallery Image" }}
{{ $parent := .Parent }}
    <div class="gallery__media">

        {{ with .Site.GetPage "page" "uploads/index.md" }}

            {{ $match := .Resources.GetMatch (strings.TrimPrefix "/uploads/" $image) }}
            
            {{ $full := $match.Resize "1920x q80" }}

            <a data-fancybox="{{ with $parent }}{{ .Get "id" }}{{ end }}" href="{{ $full.RelPermalink }}" data-turbolinks="false">
                {{ partial "image/lazy.html" (dict "Src" $image "Alt" $alt "Size" "1024x1024 q80" "Scope" $Scope) }}
            </a>

        {{ end }}
    </div>
{{ end }}